Models/full_grams_cbow_100_twitter/full_grams_cbow_100_twitter.mdl
Models/full_grams_cbow_100_twitter/full_grams_cbow_100_twitter.mdl.trainables.syn1neg.npy
Models/full_grams_cbow_100_twitter/full_grams_cbow_100_twitter.mdl.wv.vectors.npy
spacyModel/aravec.txt.gz
spacyModel/aravec.txt
